doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../node_modules/material-design-lite/material.min.css')
    script(src='./node_modules/material-design-lite/material.min.js')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    block content
